* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #d7504d;
}

body {
  background-color: #92d293; /* Magic here */
}

.title {
  display: flex;
  justify-content: center;
  text-align: "center";
  font-style: normal;
  color: black;
  font-size: 250%;
  position: relative;
  opacity: 0;
  animation: move-text 1s forwards;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Select a file";
  display: inline-block;
  background: rgb(138, 138, 138);
  background: linear-gradient(
    90deg,
    rgba(138, 138, 138, 1) 0%,
    rgba(91, 90, 90, 1) 35%,
    rgba(195, 195, 195, 1) 100%
  );
  color: white;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;

  font-size: 10pt;
  display: flex;
  justify-content: center;
}
.custom-file-input:hover {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.fileUploader {
  display: flex;
  justify-content: center;
}

.fileUploaderBtns {
  display: flex;
  justify-content: center;
}

.fileUploaderBtns * {
  margin: 0.5rem;
}

.test {
  margin-top: 25px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  text-align: "center";
  font-style: normal;
  color: white;
  font-size: 125%;
  position: relative;
  animation: move-text 1s forwards;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }
  50% {
    bottom: 0.2em;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageContainer {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  padding-top: 2rem;
}

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menuContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #dfdfdf;

  flex: 2;
}

.menuInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 45%;
}

.menuInnerContainer:nth-child(2) {
  flex: end;
}

.selectMenu {
  margin-bottom: 0.5rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 10vh;
  position: absolute;

  top: 90%;
  width: 100vw;
  background: rgb(138, 138, 138);
  background: linear-gradient(
    90deg,
    rgba(138, 138, 138, 1) 0%,
    rgba(91, 90, 90, 1) 35%,
    rgba(195, 195, 195, 1) 100%
  );
}
